- 
  const paySystems2 = [
    { img: 'sbp', title: 'СБП', desc: 'Деньги зачисляются напрямую на СБП', link:"sbp.html" },
    { img: 'bank', title: 'На банковский счет', desc: 'Деньги сразу доступны для онлайн-покупок и переводов.', link:"bank-account.html" },
    { img: 'cash', title: 'Наличные (Скоро)', desc: 'Получение средств в партнёрских пунктах выдачи.', disabled: true },
    
    ]
.calculator-wrap
  a(href="").return-btn 
    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
      path(fill="#27615C", d="M15.8 18.7a1.13 1.13 0 1 1-1.6 1.6l-7.5-7.5a1.13 1.13 0 0 1 0-1.6l7.5-7.5a1.13 1.13 0 1 1 1.6 1.6L9.1 12l6.7 6.7Z")
    | Назад
  .typical-block
    .calculator-wrap__content-block
      h3.calculator-wrap__title Куда перевести деньги получателю?
      .rate-info 
        span Быстро и легко
        span 0 RUB Комиссия
      .pay-system-wrap  
        each item in paySystems2
          a.pay-system(href=item.link class=item.disabled ? 'disabled' : '')
            .pay-system__icon
              +imgFixed(item.img, 48, 48, "images/pay-systems")
            
            .pay-system__content
              .pay-system__title= item.title
              .pay-system__desc= item.desc





