.countries
  .container 
    h2.title.title--h2 Поддерживаемые страны
    p Мы отправляем деньги в более чем 170 стран мира.
    .countries__wrap 
      ul 
  .countries__btn-wrap
    .more-btn
      span Показать еще
      span(class="more-btn__close") Закрыть
      
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
        path(fill="#27615C", d="m20.3 9.8-7.5 7.5a1.12 1.12 0 0 1-1.6 0L3.7 9.8a1.13 1.13 0 0 1 1.6-1.6l6.7 6.7 6.7-6.7a1.13 1.13 0 1 1 1.6 1.6Z")

          
