-
  const decors = [
  { name: "decor1", w: 134.77, h: 134.77 },
  { name: "decor2", w: 139.22, h: 139 },
  { name: "decor3", w: 125.04, h: 108.64 },
  { name: "decor4", w: 229.95, h: 173.11 },
  { name: "decor5", w: 102.21, h: 104.15 },
  { name: "decor6", w: 153.89, h: 153.89 },
  { name: "decor7", w: 229.57, h: 215.64 }
  ];

.decor-wrapper
  each item in decors
    .hero__decor-item
      +imgFixed(item.name, item.w, item.h, "images/decors")
