.decription
  .container
    .decription__text-wrap 
      .decription__anons 
        p TrustyPay — платформа цифровых возможностей.Мы объединяем платежные сервисы, подписки и переводы в одном приложении. Наша цель — сделать финансы простыми и доступными для каждого.Прозрачные условия, безопасные технологии и удобный интерфейс позволяют пользователям экономить время и деньги.

      .decription__more 
        span Сегодня TrustyPay — это не просто сервис, а полноценная экосистема. 
        span Мы помогаем:
        ul
         li оплачивать любимые сервисы и подписки без лишних шагов;
         li быстро пополнять кошельки, карты и рекламные кабинеты;
         li переводить средства за границу без скрытых комиссий и задержек.

        p Мы верим, что финансовые решения должны быть понятными и честными. Поэтому каждое действие в TrustyPay прозрачно: вы заранее знаете комиссию, статус операции всегда доступен в личном кабинете, а поддержка готова помочь в любой момент.
          | Наша миссия — дать каждому пользователю инструмент, который работает так же быстро и надёжно, как и сам цифровой мир.
    .decription__btn-wrap
      .more-btn 
        span Читать полностью
        span.more-btn__close Закрыть
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 18 18")
          path(fill="#27615C", d="M8.6 12.77 2.98 7.15a.56.56 0 0 1 .8-.8L9 11.58l5.23-5.23a.56.56 0 0 1 .8.8L9.4 12.77a.56.56 0 0 1-.8 0Z")

