.faq
  .container
    h2.title.title--h2 Часто задаваемые вопросы
    .faq__list.typical-block
      .faq__item
        .faq__item-title Какими способами я могу оплатить зарубежные сервисы?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Мне нужна помощь в оплате зарубежных сервисов. Куда я могу обратиться?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Как оплатить из России зарубежные сервисы в 2025 году?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Это безопасно?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Это безопасно?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Это безопасно?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.
      .faq__item
        .faq__item-title Это безопасно?
        .faq__item-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim fugiat consequatur corrupti illo itaque deserunt esse obcaecati minus, libero ipsa nostrum, sequi quo vitae temporibus assumenda commodi accusantium. A.