header.header
  .container
    .header__flex-container
      include ../components/logo
      div(style="display:flex; align-items: center; gap:10px")
        include ../components/avatar
        include ../components/login