.calculator-wrap
  .typical-block
    .calculator-wrap__header
      .calculator-wrap__header-icon
        +imgFixed("calc", 80, 80, "images/static")
      .calculator-wrap__header-info 
        .calculator-wrap__header-title Перевод за границу 
        .calculator-wrap__header-rating
          .stars-input.disabled(data-value="5")
          span 5.0
          span 1456 отвызов
    .calculator-wrap__content-block
      .tabs.tabs--solid.tabs-js
        .tabs__nav
          button.tabs__btn.btn(data-name="tab1").is-active ФИАТ
          button.tabs__btn.btn(data-name="tab2") КРИПТО

        .tabs__content
          .tabs__panel.is-active(data-name="tab1")
            .currency-transfer
              .input.input--with-select
                .input__field
                  div
                    label(for="sending") Вы отправляете
                    input.js-fiat-send-amount(type="text" name="sending")

                  .cselect.cselect-js.is-disabled
                    div(class="cselect__selected" data-currency="RUB")
                      div(class="cselect__selected-left")
                        span(class="cselect__img")
                          img(src="./images/currencies/flags/ru.svg", alt="RUB")
                        span(class="cselect__code") RUB
                      div(class="cselect__selected-right")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 16 16", width="20", height="20")
                          path(fill="#fff", d="M8 11.47a1 1 0 0 1-.71-.29L2.34 6.23a1 1 0 1 1 1.42-1.41L8 9.06l4.24-4.24a1 1 0 1 1 1.42 1.41l-4.95 4.95a1 1 0 0 1-.71.29Z")


              .currency-transfer__icon
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
                  path(fill="#fff", d="M11.03 15.97a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 0 1 1.06-1.06l1.72 1.72V4.5a.75.75 0 1 1 1.5 0v13.19l1.72-1.72a.75.75 0 0 1 1.06 0Zm9-9-3-3a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 1.06 1.06l1.72-1.72V19.5a.75.75 0 1 0 1.5 0V6.31l1.72 1.72a.75.75 0 1 0 1.06-1.06Z")

              .input.input--with-select
                .input__field
                  div
                    label(for="get") Получатель получит
                    input.js-fiat-receive-amount(type="text" name="receiving")
                  +currencySelect("./images/currencies/flags/de.svg", "EUR", src="./js/entities.json", false, "Страна получателя").js-fiat-receiving-select
            
            .receipt__list 
              .receipt__list-item
                span Комиссия:
                span.js-fiat-commission 
              
              .receipt__list-item
                span Курс:
                span.js-fiat-rate 
                
              .receipt__list-item
                span Скорость доставки:
                span.js-fiat-delivery  до 30 минут

            .centered
              button.btn.js-fiat-button Перевести 


          .tabs__panel(data-name="tab2")
            .currency-transfer
              .input.input--with-select
                .input__field
                  div
                    label(for="sending") Вы отправляете
                    input.js-crypto-send-amount(type="text" name="sending-crypto")

                  .cselect.cselect-js.is-disabled
                    div(class="cselect__selected" data-currency="RUB")
                      div(class="cselect__selected-left")
                        span(class="cselect__img")
                          img(src="./images/currencies/flags/ru.svg", alt="RUB")
                        span(class="cselect__code") RUB
                      div(class="cselect__selected-right")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 16 16", width="20", height="20")
                          path(fill="#fff", d="M8 11.47a1 1 0 0 1-.71-.29L2.34 6.23a1 1 0 1 1 1.42-1.41L8 9.06l4.24-4.24a1 1 0 1 1 1.42 1.41l-4.95 4.95a1 1 0 0 1-.71.29Z")  

                  

              .currency-transfer__icon
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
                  path(fill="#fff", d="M11.03 15.97a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 0 1 1.06-1.06l1.72 1.72V4.5a.75.75 0 1 1 1.5 0v13.19l1.72-1.72a.75.75 0 0 1 1.06 0Zm9-9-3-3a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 1.06 1.06l1.72-1.72V19.5a.75.75 0 1 0 1.5 0V6.31l1.72 1.72a.75.75 0 1 0 1.06-1.06Z")

              .input.input--with-select
                .input__field
                  div
                    label(for="sending") Получатель получит
                    input.js-crypto-receive-amount(type="text" name="receiving-crypto")
                  +currencySelect("./images/currencies/crypto/usdt.svg", "USDT", src="./js/crypto.json", true, "Валюта получателя").js-crypto-receiving-select

            .receipt__list 
              .receipt__list-item
                span Комиссия:
                span.js-crypto-commission 
              
              .receipt__list-item
                span Курс:
                span.js-crypto-rate 
                
              .receipt__list-item
                span Скорость доставки:
                span.js-crypto-delivery до 30 минут

            .centered
              button.btn.js-crypto-button Перевести 

  .mine-title-block__icon-wrap
    .mine-title-block__column-icon
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 48 48")
        path(fill="#27615C", d="M32.56 18.44a1.5 1.5 0 0 1 0 2.12l-10.5 10.5a1.5 1.5 0 0 1-2.12 0l-4.5-4.5a1.5 1.5 0 0 1 2.12-2.12L21 27.88l9.44-9.44a1.5 1.5 0 0 1 2.12 0ZM43.5 24a19.5 19.5 0 1 1-39 0 19.5 19.5 0 0 1 39 0Zm-3 0a16.5 16.5 0 1 0-33 0 16.5 16.5 0 0 0 33 0Z")
      
      p Быстро и легко

    .mine-title-block__column-icon
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 48 48")
        path(fill="#27615C", d="M33.38 7.5A11.5 11.5 0 0 0 24 11.98a11.52 11.52 0 0 0-9.38-4.48A11.64 11.64 0 0 0 3 19.13C3 32.24 22.46 42.86 23.29 43.3a1.5 1.5 0 0 0 1.42 0C25.54 42.87 45 32.25 45 19.12A11.64 11.64 0 0 0 33.37 7.5ZM24 40.27C20.58 38.28 6 29.2 6 19.13a8.64 8.64 0 0 1 8.63-8.62c3.64 0 6.7 1.94 7.98 5.06a1.5 1.5 0 0 0 2.78 0c1.28-3.12 4.34-5.06 7.98-5.06A8.64 8.64 0 0 1 42 19.13c0 10.05-14.58 19.15-18 21.14Z")
      
      p 10к клиентов
    
    .mine-title-block__column-icon
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 48 48")
        path(fill="#27615C", d="M24 4.5a19.5 19.5 0 1 0 0 39 19.5 19.5 0 0 0 0-39Zm7.33 24.71a8.97 8.97 0 0 0 0-10.42l5.34-5.34a16.47 16.47 0 0 1 0 21.1l-5.34-5.34ZM18 24a6 6 0 1 1 12 0 6 6 0 0 1-12 0Zm16.55-12.68-5.34 5.35a8.97 8.97 0 0 0-10.42 0l-5.34-5.35a16.47 16.47 0 0 1 21.1 0Zm-23.22 2.13 5.34 5.34a8.97 8.97 0 0 0 0 10.42l-5.35 5.34a16.47 16.47 0 0 1 0-21.1Zm2.12 23.23 5.34-5.35a8.97 8.97 0 0 0 10.42 0l5.34 5.34a16.47 16.47 0 0 1-21.1 0Z")

      p Поддержка 24/7