.calculator-wrap.result
  .typical-block
    .calculator-wrap__content-block
      .result__icon
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 120 120")
          path(fill="#233331", d="M48.12 107.31a40.74 40.74 0 1 0 0-81.47 40.74 40.74 0 0 0 0 81.47Z", opacity=".52")
          path(fill="#27615C", d="m48.58 98.06-.52-.88C40.17 83.74 19.2 55.2 19 54.91l-.3-.4 7.14-7.07 22.62 15.8c14.24-18.49 27.52-31.18 36.2-38.6 9.47-8.1 15.64-11.83 15.7-11.87l.15-.08h12.11l-1.15 1.03C81.68 40.24 49.4 96.6 49.09 97.18l-.5.88Z")

      .result__title Ваша заявка №123456 оформлена успешно!
      p Дальнейшая обработка заявки уже идёт в Telegram.

      button.btn 
        svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 21")
          path(fill="#fff", d="M21.95.19s2.22-.91 2.04 1.3c-.06.9-.62 4.08-1.05 7.53L21.46 19.2s-.12 1.5-1.23 1.75c-1.11.26-2.78-.9-3.09-1.17-.24-.2-4.62-3.11-6.16-4.54-.44-.4-.93-1.17.06-2.08l6.47-6.5c.74-.77 1.48-2.59-1.6-.38l-8.63 6.17s-1 .65-2.84.06l-4.01-1.3s-1.48-.97 1.05-1.95C7.65 6.22 15.23 3.11 21.95.2Z")
        | Войти через Telegram