.slider
  .container
    h2.title.title--h2 Отзывы
    .swiper.slider-js
      .swiper-wrapper
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          .slider__item.swiper-slide
            .review
              .review__flex-wrapper
                .review__img 
                  //- img(src="", alt="alt")
                .review__info
                  .review__name Святослав
                  .review__date 25 августа
              .review__rating
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 100 20")
                  path(fill="#FC0", d="m10 14.99-4.92 3.26a.55.55 0 0 1-.83-.6l1.58-5.7L1.2 8.29a.55.55 0 0 1 .31-.98l5.9-.25 2.07-5.53a.55.55 0 0 1 1.02 0l2.07 5.53 5.9.25a.55.55 0 0 1 .31.98l-4.62 3.68 1.58 5.69a.55.55 0 0 1-.83.6L10 14.99Zm20 0-4.92 3.26a.55.55 0 0 1-.83-.6l1.58-5.7-4.63-3.66a.55.55 0 0 1 .3-.98l5.9-.25 2.08-5.53a.55.55 0 0 1 1.02 0l2.07 5.53 5.9.25a.55.55 0 0 1 .3.98l-4.61 3.68 1.58 5.69a.55.55 0 0 1-.83.6L30 14.99Zm20 0-4.92 3.26a.55.55 0 0 1-.83-.6l1.58-5.7-4.63-3.66a.55.55 0 0 1 .31-.98l5.9-.25 2.07-5.53a.55.55 0 0 1 1.02 0l2.07 5.53 5.9.25a.55.55 0 0 1 .31.98l-4.62 3.68 1.58 5.69a.55.55 0 0 1-.83.6L50 14.99Zm20 0-4.92 3.26a.55.55 0 0 1-.83-.6l1.58-5.7-4.63-3.66a.55.55 0 0 1 .31-.98l5.9-.25 2.07-5.53a.55.55 0 0 1 1.02 0l2.07 5.53 5.9.25a.55.55 0 0 1 .31.98l-4.62 3.68 1.58 5.69a.55.55 0 0 1-.83.6L70 14.99Zm20 0-4.92 3.26a.55.55 0 0 1-.83-.6l1.58-5.7-4.63-3.66a.55.55 0 0 1 .3-.98l5.9-.25 2.08-5.53a.55.55 0 0 1 1.02 0l2.07 5.53 5.9.25a.55.55 0 0 1 .3.98l-4.61 3.68 1.58 5.69a.55.55 0 0 1-.83.6L90 14.99Z")

              .review__text
                p Мне нужно было срочно оплатить иностранный сервис. Со мной вышли на связь, указали полную стоимость оплаты, с учетом комиссии. Услуга была указана, буквально, за пару минут))))
              
                  


        

    .centered
      a.btn(href="reviews.html") Показать все отзывы 