- 
  const paySystems3 = [
    { img: 'TRON-(TRC-20)', title: 'TRON (TRC-20)', desc: 'Быстрое и выгодное пополнение — минимальные комиссии, мгновенное зачисление.', link: 'usdt.html' },
    { img: 'Ethereum-(ERC-20)', title: 'Ethereum (ERC-20)', desc: 'Классическая сеть — максимальная стабильность и совместимость с любыми кошельками.', link: 'usdt.html' },
    { img: 'Binance-(BEP-20)', title: 'Binance Smart Chain (BEP-20) ', desc: 'Удобная и экономичная сеть — выгодная комиссия и высокая скорость обработки.', link: 'usdt.html' }
    ]
.calculator-wrap
  a(href="#").return-btn 
    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
      path(fill="#27615C", d="M15.8 18.7a1.13 1.13 0 1 1-1.6 1.6l-7.5-7.5a1.13 1.13 0 0 1 0-1.6l7.5-7.5a1.13 1.13 0 1 1 1.6 1.6L9.1 12l6.7 6.7Z")
    | Назад
  .typical-block
    .calculator-wrap__content-block
      h3.calculator-wrap__title Выбор сети
      .rate-info 
        span Быстро и легко
        span 0 RUB Комиссия
      .pay-system-wrap
        each item in paySystems3
          a.pay-system(href=item.link class=item.disabled ? 'disabled' : '')
            .pay-system__icon
              +imgFixed(item.img, 48, 48, "images/pay-systems")

            .pay-system__content
              .pay-system__title= item.title
              .pay-system__desc= item.desc