mixin icon(name, attrs = {})
  svg(class=`icon icon--${name}` aria-hidden="true" fill="currentColor")&attributes(attrs)
    use(href=`./images/sprite/symbol/sprite.svg#${name}`)
  span 1
//- +icon('search', {class: 'btn__icon', width: 20, height: 20})    
