extends ../layouts/no-indent

block content
  
  .hero
    include ../components/decor
    
    .container
      .hero__calculator.hero__calculator--index
        include ../components/main-title-block
        include ../components/main-form
        
       
        
        

  section
    include ../components/advantages
  
  section
    include ../components/countries

  section
    include ../components/faq
      
  section
    include ../components/slider