extends ../layouts/base

block content
  .container
    .profile
      .profile__column
        .profile__avatar
          +imgFixed("avatar", 80, 80, "images/static") 
        .profile__id Telegram ID
        .profile__email test@trusypay.org
        .profile__nav
          ul 
            li
              a(href="profile.html") 
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
                  path(d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20ZM6.82 18.68a6.15 6.15 0 0 1 10.36 0 8.45 8.45 0 0 1-10.36 0Zm2.1-7.45a3.08 3.08 0 1 1 6.16 0 3.08 3.08 0 0 1-6.16 0Zm9.4 6.39a7.66 7.66 0 0 0-3.46-2.77 4.62 4.62 0 1 0-5.72 0 7.66 7.66 0 0 0-3.46 2.77 8.46 8.46 0 1 1 12.64 0Z")

                span Профиль

            li.active
              a(href="#") 
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
                  path(d="M20.25 3.75H3.75a1.5 1.5 0 0 0-1.5 1.5v13.5a1.5 1.5 0 0 0 1.5 1.5h16.5a1.5 1.5 0 0 0 1.5-1.5V5.25a1.5 1.5 0 0 0-1.5-1.5Zm0 1.5v1.5H3.75v-1.5h16.5Zm0 13.5H3.75V8.25h16.5v10.5ZM16.5 10.5a4.5 4.5 0 1 1-9 0 .75.75 0 1 1 1.5 0 3 3 0 0 0 6 0 .75.75 0 1 1 1.5 0Z")

                span Заказы

            li
              a(href="#") 
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24")
                  path(d="M11.25 20.25a.75.75 0 0 1-.75.75h-6a.75.75 0 0 1-.75-.75V3.75A.75.75 0 0 1 4.5 3h6a.75.75 0 1 1 0 1.5H5.25v15h5.25a.75.75 0 0 1 .75.75Zm10.28-8.78-3.75-3.75a.75.75 0 1 0-1.06 1.06l2.47 2.47H10.5a.75.75 0 1 0 0 1.5h8.69l-2.47 2.47a.75.75 0 1 0 1.06 1.06l3.75-3.75a.75.75 0 0 0 0-1.06Z")

                span Выйти

      .profile__column
        
        h1.title.title--h3 Заказы
        
        .table.scroll-bar
          table
            thead
              tr
                th ЗАКАЗ
                th ДАТА
                th СТАТУС
                th ИТОГО
                th ДЕТАЛИ
                th ДЕЙСТВИЯ   
            tbody
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр
              tr
                td №12345678
                td 10.10.2025
                td На удержании
                td 2 000,01 RUB за 2 товара
                td
                  a.btn.btn--telegram
                    svg(width="24", height="21", viewBox="0 0 24 21", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M21.9542 0.18573C21.9542 0.18573 24.1742 -0.724239 23.989 1.48419C23.9273 2.39416 23.3719 5.5738 22.9399 9.01594L21.4605 19.2094C21.4605 19.2094 21.3371 20.7021 20.2263 20.9628C19.1171 21.2218 17.4526 20.0528 17.144 19.7938C16.8972 19.5978 12.519 16.6772 10.9762 15.2492C10.5442 14.859 10.0505 14.0803 11.0379 13.1703L17.5126 6.67802C18.2532 5.89929 18.9937 4.0811 15.9098 6.28778L7.27512 12.4563C7.27512 12.4563 6.28942 13.1056 4.43975 12.5211L0.430125 11.2226C0.430125 11.2226 -1.04927 10.2496 1.47924 9.27493C7.64539 6.22303 15.2327 3.10813 21.9542 0.18573Z", fill="white")
                    | Telegram
                td
                  a.btn.btn--primary.btn--w100 Просмотр