doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(rel="icon", href="./favicon.ico", sizes="32x32")
    link(rel="icon" href="./icon.svg")
    link(rel="apple-touch-icon", href="./apple-touch-icon.png")
    link(rel="manifest" href="./site.webmanifest")

    title Project
    link(rel="stylesheet" href="./css/main.css")

  body
    include ../mixins/icon
    include ../mixins/picture
    include ../components/modal
    include ../mixins/currencySelect
    .wrapper
     
      include ../components/header
      .content
        block content
          
      include ../components/description
      include ../components/footer  
    script(src="./js/main.js") 
    